body {
  width: 3024px;
  height: 1964px;
  margin: 0;
  padding:0;
  color: white;
  background-color: black;
  font-size: 17pt;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,112,1) 97%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

hr {
  position: relative;
  height: 2px;
  background: white;
  border-style: double;
}

.block {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  top: -60pt;
}

.glow::before, .glow::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, 
  #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(40px);
}

.img_ubc {
  margin-top: -150pt;
  position: absolute;
  top: 150pt;
}

.h1_title {
  text-align: center;
  font-size: 50pt;
  font-style: normal;
  font-family: monospace;
  line-height: 40%;
  opacity: 100%;
}

.a_header:link, .a_header:visited {
  opacity: 100%;
}

.h2_title {
  text-align: center;
  line-height: 10%;
}

.hr_header {
  position: relative;
  top: 10px;
  border: none;
  height: 10px;
  background: #eab600;

}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 20pt;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-inline: 60pt;
}

h3 {
  text-align: center;
  font-size: 25pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img_about_me {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  display: block;
  border-radius: 10px;
}

.p_about_me {
  font-size: 20pt;
  letter-spacing: 1px;
}

.div_about_me {
  position: relative;
  width: 70%;
  left: 15%;
}

.sec_projects {
  float:inline-start;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: white;
  opacity: 70%;
}
a:hover, a:active {
  color: white;
  opacity: 100%;
}

.button_back {
  background-color: rgb(2,0,36);
  width: 60pt;
  height: 40pt;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  cursor: pointer;
  font-size: large;
  position: relative;
  top: -10pt;
  left: 10pt;
  font-weight: bold;
  margin-top: 40pt;
}

.button_back:hover {
  background-color: rgb(2,0,36);
  border-color: rgb(2,0,36);
  background: rgb(2,0,36);
}

.button_back:hover > a {
  color:#eab600;
}
