.h1_title {
  text-align: center;
  font-size: 50pt;
  font-style:normal;
  font-family:monospace;
  font-variant: small-caps;
  color:rgb(3, 129, 188);

}

th {
  background-color:rgb(3, 129, 188);
  color: white;
  border: none;
  border-radius: 2pt;
  cursor: pointer;
  font-style: normal;
  font-weight: 200;
  width: 150px;
  height: 40px;
  
}

body {
  font-size: 17pt;
}

.nav_table {
  font-size: 20pt;
}

h3 {
  color:rgb(3, 129, 188);
  font-size: 25pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h3_exp_useless {
  display: none;
}

.img_about_me {
  float: left;
  width: 20%;
  height: 20%;
  display: block;
}

.p_about_me {
  padding-right: 300pt;
  padding-left: 250pt;
  font-size: 20pt;
}

.sec_projects {
  float:inline-start;
}

ul {
  margin: 10pt;
  padding-right: 400pt;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color:white;
}
a:hover, a:active {
  color: #FF9933;
}
