body {
  background-color: antiquewhite;
  font-size: 17pt;
}

hr {
  position: relative;
  height: 2px;
  background: black;
}

.h1_title {
  text-align: center;
  font-size: 50pt;
  font-style:normal;
  font-family:monospace;
}

.h2_title {
  text-align: center;
  line-height: 0%;
}

.hr_header {
  position: relative;
  top: 10px;
  border: none;
  height: 10px;
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 20pt;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-inline: 60pt;
}

h3 {
  text-align: center;
  font-size: 25pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h3_exp_useless {
  display: none;
}

.img_about_me {
  float: left;
  width: 20%;
  height: 20%;
  display: block;
}

.p_about_me {
  padding-right: 300pt;
  padding-left: 250pt;
  font-size: 20pt;
}

.sec_projects {
  float:inline-start;
}

ul {
  margin: 10pt;
  padding-right: 400pt;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: black;
}
a:hover, a:active {
  color: #FF9933;
}
